.selectseatpage .head {
    background-color:  #333444;
    padding: 10px;
}



.selectseatpage {
    background-color: rgb(228, 228, 228);
    width: 100%;
    display: flex;
    flex-direction: column;
}


.selectseatpage .s1 {
    background-color: white;
}

.selectseatpage .head h1 {
    color: white;
    font-size: 25px;
    font-weight: 600;
}


.selectseatpage .head h3 {
    color: gray;
    font-size: 13px;
    font-weight: 600;

    border: 1px solid gray;
    padding: 5px 20px;
    border-radius: 25px;
    width: fit-content;
}














/* SEATS */
/* Style for seat type */
.selectseat {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.selectseat .indicators {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.selectseat .indicators div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.selectseat .indicators div span {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
    color: white;
    padding: 0px;
    margin: 0px;
}

.selectseat .indicators div p {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: gray;
    padding: 0px;
    margin: 0px;
}


.seat-type {
    /* border: 1px solid #ccc; */
    padding: 10px 20px;
    margin: 10px;
    background-color: #ffffff;
}

/* Style for seat type title */
.seat-type h2 {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 400;
    border: 1px solid #ccc;
    width: max-content;
    padding: 5px 20px;
    border-radius: 25px;
}

/* Style for seat row */
.seat-row {

    /* background-color: aqua; */
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    /* display: flex;
    border: 1px solid #ccc;
    margin: 0px;
    align-items: center;
    gap : 20px;
    padding: 0px; */
}

/* Style for row name */
.seat-row p {
    width: max-content;
    font-weight: 500;
    font-size: 12px;
    background-color: rgb(248, 68, 100);;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    line-height: 0;
    padding: 0;
}

/* Style for seats container */
.seats {
    display: flex;
    padding: 0px;
}

/* Style for individual seat */
.seat-available,
.seat-unavailable,
.seat-selected {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 2px;
    background-color: #fff;
    border: 1px solid green;

}



/* Style for unavailable seats */
.seat-unavailable {
    color: #313131;
    background-color: rgb(230, 230, 230);
}

.seat-iswalkway {
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 2px;
    background-color: #fff;

}

.seat-selected {
    color: white;
    background-color: rgb(248, 68, 100);;
}

.seat-cols {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0px;
}

.seat-col {
    display: flex;
}

.seat-available:hover {
    cursor: pointer;
    background-color: rgb(248, 68, 100);;
    color: white;
}

.seat-unavailable:hover {
    cursor: not-allowed;
}



/* TOTAL */

.selectseat .totalcont {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 28px;
    padding-left: 30px;
    padding-bottom: 12px;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px ;
    width: 300px;
}

.selectseat .totalcont1 {
    display: flex;
    padding-left: 0.35rem;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;

}

.selectseat .totalcont .totalcont1 h2 {
    font-size: 15px;
    font-weight: 600;
    color: gray;
    margin-left: 3.5rem;
}

.selectseat .totalcont .totalcont1 h3 {
    font-size: 15px;
    font-weight: 600;
    color: rgb(248, 68, 100);;
    padding-left: 12px;
    gap: 0px
}

.selectseat .totalcont .total {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectseat .totalcont .total h2 {
    font-size: 15px;
    font-weight: 600;
    color: gray;
}

.selectseat .totalcont .total h3 {
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;

    color: rgb(248, 68, 100);;
}
.selectseat .totalcont  h4 {
    font-size: 15px;
    font-weight: 600;
    padding-left: 10px;
    margin-top: 3px;

    color: rgb(248, 68, 100);;
}



/* time */

.selectseat .timecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.selectseat .timecontainer .time {
    border: 2px solid #ccc;
    padding: 5px 20px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.selectseat .timecontainer .selected {
    border: 2px solid rgb(248, 68, 100);;
    color: rgb(248, 68, 100);;
}



.column1 {
    flex: 6;
}

.column2 {
    flex: 3;
}


button {

}

.ra {
    padding-left: 12px;
    font-size: 15px;
    font-weight: 600;

    color: rgb(248, 68, 100);;
}

.selectseat .totalcont .totalcont1 .additional-options h3 {
    padding-left: 12px;

}

.selectseat .totalcont .totalcont1 .additional-options input {
    width: 25px;
}

.f {
    font-size: 14px;
}

.curve-line {
    width: calc(45% + 50px);
    height: 60px;
    left: 100%;
    position: static;
    display: flex;
    top: 230px;
    border-top: 2px solid #000;
    border-radius: 50%;
}

.screen-text {
    position: absolute;
    top: 31%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}

/* Slide transition styles */
.slide-left-enter {
    opacity: 0;
    transform: translateX(100%);
}
.slide-left-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
}
.slide-left-exit {
    opacity: 1;
    transform: translateX(0);
}
.slide-left-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 500ms, transform 500ms;
}

.slide-right-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.slide-right-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 500ms, transform 500ms;
}
.slide-right-exit {
    opacity: 1;
    transform: translateX(0);
}
.slide-right-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 500ms, transform 500ms;
}

/* Fade transition styles */
.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

/* Concession Section */
.concession {
    max-height: 100%; /* Ensure it doesn't exceed 100% of its parent */
    width: 70%; /* Total width of the concessions container */
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto ;
    background-color: #ecf0f1; /* Match this to the color of the section above */
    padding: 20px;
    border-radius: 8px;
    box-shadow: none; /* Adjust or remove if it causes visual issues */
}


.concessions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create 2 equal-width columns */
    gap: 20px; /* Space between items */
    width: 100%; /* Ensure the container takes the full width */
    margin-top: 20px;
}

.concession-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.concession-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.concessions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal-width columns */
    gap: 20px; /* Space between items */
    width: 100%;
    margin-top: 20px;
}

.concession-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 90%; /* Reduce the width to fit content */
    margin: auto; /* Center the item within its grid column */
}

.concession-image {
    width: 120px; /* Adjust the image size */
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.concession-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.concession-details h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.concession-details p {
    margin: 5px 0;
    font-size: 1em;
    color: #666;
}

.concession-quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.concession-quantity button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.concession-quantity button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.concession-quantity input {
    width: 40px;
    text-align: center;
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
}




/* Styling for the totalcont1 section */
.totalcont1 {
    display: flex;
    justify-content: center; /* Center the content within the container */
    align-items: center;
    background-color: #f7f7f7;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

}

.totalcont1 .sum-area {
    width: 40%; /* Sum area occupies 40% of the container width */
    text-align: center;
}

.totalcont1 h2 {
    margin: 0;
    color: #333;
    font-size: 1.5em;
}

.totalcont1 h4 {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    color: #3498db;
    font-size: 1.3em;
}



.linkstylenone {
    text-decoration: none;
}

.previous-button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    margin-top: 20px; /* Add some space at the top */
}
