/* src/components/Profile/Profile.css */
.profile {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    border: 2px solid rgb(248, 68, 100); /* Updated to set border color to red */
}

.profile h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.profile-section {
    margin-bottom: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
}

.profile-section h2 {
    margin-bottom: 10px;
    font-size: 1.4em;
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.profile p {
    margin: 10px 0;
    font-size: 1em;
    color: #555;
}

.profile p strong {
    color: #000;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.error {
    color: red;
    margin-top: 10px;
}

.success {
    color: green;
    margin-top: 10px;
}

.main_button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #b84949;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.main_button:hover {
    background-color: #c13939;
}

@media (max-width: 768px) {
    .profile {
        padding: 10px;
    }

    .profile-section {
        padding: 10px;
    }

    .profile-section h2 {
        font-size: 1.2em;
    }

    .profile p {
        font-size: 0.9em;
    }

    .form-group input {
        padding: 6px;
    }

    .main_button {
        padding: 8px;
        font-size: 0.9em;
    }
}
