.sliderout {
    width: 100%;
    overflow: hidden; /* Ensure no overflow */
}

.moviecarou {
    width: 100%;
    justify-content: center;
    padding: 10px ; /* Adjust padding to create space around the Swiper */
}

.mySwiper {
    width: 100%;
}

.linkstylenone {
    text-decoration: none;
}
